.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    height: 10vh;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo-title {
    display: flex;
    align-items: center;
    gap: 3vw;
}
.logo {
    height: 7vh;
    width: auto;
}
.title {
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 7vh;
    color: white;
}
#canvas-and-instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12vh;
    gap: 20px;
}
#instruction-box {
    border: 3px solid;
    padding: 5px;
}
canvas {
    width: 75vw;
    height: auto;
    border: 5px solid #000;
    cursor: crosshair;
}
b {
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
}
#controls {
    margin-top: 6vh;
    padding-left: 4vw;
}
.button {
    background-color: darkred;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-width: 3px;
    border-radius: 12px;
    padding: 1vh 2vh;
    width: 15vw;
    cursor: pointer;
}
.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24);
}